body {
    background-image: url('/assets/img/bg-callout.png');
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;

    border: 10px solid #d9f2f5;
    border-radius: 50%;
    border-top: 10px solid rgb(243, 186, 30);
    border-left: 10px solid rgb(243, 186, 30)5;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.info {
    overflow: hidden;
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 45px;
    font-family: sans-serif;
    color: #ffffff;

    transform: translate(-50%, -50%);
}

.j {
    font-size: 15px;
    color: #2F3335;
}
.hue {
    color: #35c7ff;
    padding:10px;
    border-radius:10px;
    animation:hue 5s linear infinite;
    -webkit-animation: hue 5s linear infinite;
    box-shadow: 0px 0px 50px rgb(33, 134, 228);
    color:white;
    background:rgba(180, 180, 172, 0.842);
}